<form #productForm="ngForm" (ngSubmit)="onSubmit(productForm.value)" novalidate>
    <div class="container">
        <!-- <div class="form-group">
            <input type="number" name="id" required class="form-control" placeholder=“Id” #idModelRef="ngModel" ngModel>
            <div [hidden]="idModelRef.valid || idModelRef.pristine" class="alert alert-danger">
                Please enter product name
            </div>
        </div>     -->
        <div class="form-group">
            <input type="text" name="name" required class="form-control" [(ngModel)]="prod.name" #nameModelRef="ngModel" ngModel>
            <div [hidden]="nameModelRef.valid || nameModelRef.pristine" class="alert alert-danger">
                Please enter product name
            </div>
        </div>    
        <div class="form-group">
            <input type="number" name="quantity" required min="30" max="50" class="form-control" [(ngModel)]="prod.quantity" #quantityModelRef="ngModel" ngModel>
            <div [hidden]="quantityModelRef.valid || quantityModelRef.pristine" class="alert alert-danger">
                Please enter quantity
            </div>
        </div>
        <div class="form-group">
            <input type="number" name="price" required class="form-control" [(ngModel)]="prod.price" #priceModelRef="ngModel" ngModel>
            <div [hidden]="priceModelRef.valid || priceModelRef.pristine" class="alert alert-danger">
                Please enter price
            </div>
        </div>
        <button type="submit" [disabled]="!productForm.form.valid" class="btn btn-primary">EDIT PRODUCT</button>&nbsp;&nbsp;&nbsp;
        <button type="button" [disabled]="!productForm.form.valid" class="btn btn-primary" (click)="onCancel()">CANCEL</button>
    </div>
</form>
 
