<!-- <h1>App Component</h1>
<br>
Parent-to-Child: <input type="text" #mytitle (keyup)="0">
<br><br>
Child-to-parent: <input type="text" [value]="childData" >
<br><br>
<child  [childTitle]="mytitle.value" (childEvent)="childData=$event" ></child> -->
<!-- <sample></sample> -->
<!-- <product-form></product-form> -->
<!-- <nav>
  <a routerLink="/first/Citibank" routerLinkActive="active">First</a>&nbsp;&nbsp;&nbsp;
  <a routerLink="/second" routerLinkActive="active">Second</a>
</nav> -->
<router-outlet></router-outlet>